
footer {
    display: grid;
}

main, section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav ul li {
	display: inline;
}

.proyecto {
	display: block;
}

#bio {
	display: block;
}

#bio > * {
	display: block;
}